
@{
    ViewData["Title"] = "Servicios";
    Layout = "_Layout";
}
<link rel="stylesheet" href="@Url.Content("~/css/servicios.css")"/>
<div class="mx-5 mt-5">
    <h1 class="text-center font-weight-bold">Servicios</h1>
    <div class="d-md-flex  mt-4 justify-content-between">
        <div class="card col col-md-5 p-0">
            <img src="@Url.Content("~/img/reparaciones.jpg")" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">Reparaciones</h5>
                <p class="card-text">Reparamos bombas a pistones, paletas y engranaje nacionales e importadas, motores hidráulicos, válvulas y cilindros.
                    Contamos con stock de repuestos y maquinarias para fabricación y recuperación de los mismos.
                </p>
            </div>
        </div>
        <div class="card col col-md-5 p-0">
            <img src="@Url.Content("~/img/foto3.jpg")" class="card-img-top w-75 mx-auto" alt="">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">Centrales hidráulicas</h5>
                <p class="card-text">Construimos y reparamos unidades hidráulicas de acuerdo a las necesidades y requerimientos de nuestros clientes.</p>
            </div>
        </div>
    </div>
</div>
