/*color: #4A6751;*/
a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}
li > a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after { 
    width: 100%; 
    left: 0; 
}
@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}
.navbar {
    height: 6rem;
    -webkit-box-shadow: 0px 2px 3px 1px rgba(168,168,168,1);
    -moz-box-shadow: 0px 2px 3px 1px rgba(168,168,168,1);
    box-shadow: 0px 2px 3px 1px rgba(168,168,168,1);
    background: #DADAD4;
}
.navbar-brand img:first-child {
    width: 4rem;
}
.navbar-brand img:last-child {
    width: 6rem;
}
.nav-item a {
    font-size: 3.2vh;
    text-transform: uppercase;
}
*:not(i):not(em) {
    font-family: 'Nunito', sans-serif;
}
footer {
    height: 100px;
    background: black;
    color: white;
}
.dropdown-menu { left: -77px; }

body {
    background: #F0F0F0;
}

.dropdown-toggle::after {
    border: none;
    margin-left: 0;
}