form button {
    background: #4A6751 !important;
    outline: #4A6751 !important;
    border: #4A6751 !important;
}

/*color: #4A6751;*/
header a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

li > a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #4A6751;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after {
    width: 100%;
    left: 0;
}

@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}

.navbar {
    height: 6rem;
    -webkit-box-shadow: 0px 2px 3px 1px rgba(168,168,168,1);
    -moz-box-shadow: 0px 2px 3px 1px rgba(168,168,168,1);
    box-shadow: 0px 2px 3px 1px rgba(168,168,168,1);
    background: #DADAD4;
}

.navbar-brand img:first-child {
    width: 4rem;
}

.navbar-brand img:last-child {
    width: 6rem;
}

.nav-item a {
    font-size: 3.2vh;
    text-transform: uppercase;
}

*:not(i):not(em) {
    font-family: 'Raleway', sans-serif;
}
    p,h1,h2,a,div{
        color: #4A6751;
    }

footer {
    height: 130px;
    background: black;
    color: white;
}

    footer a, footer a:hover {
        color: white;
    }

.dropdown-menu {
    left: -77px;
}

body {
    background: #F0F0F0;
}

.dropdown-toggle::after {
    border: none;
    margin-left: 0;
}
footer div div i {
    color: white !important;
}
.card {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(184,184,184,1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(184,184,184,1);
    box-shadow: 0px 0px 5px 2px rgba(184,184,184,1);
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
    footer {
        height: 100%;
        padding: 1rem 2rem;
    }
    .navbar-nav {
        text-align: end;
    }
    .navbar-nav .nav-item {
        margin-right: 0 !important;
        padding-right: 1rem;
        border-bottom: 1px gray solid;
    }
    li > a:after {
        background: none;
    }
    .navbar-collapse.collapse.show {
        position: relative;
        top: 1rem;
        z-index: 999;
        background: #F0F0F0;
        -webkit-box-shadow: 0px 2px 3px 1px rgba(168,168,168,1);
        -moz-box-shadow: 0px 2px 3px 1px rgba(168,168,168,1);
        box-shadow: 0px 2px 3px 1px rgba(168,168,168,1);
    }
    .card img {
        height: 100% !important;
    }
    .nav-item a {
        font-size: 2.2vh;
    }
}
.carousel img {
    margin: 0 auto;
}

.slick-prev:before, .slick-next:before {
    color: #4A6751;
}
.carousel {
    background: white;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(191,191,191,1);
    -moz-box-shadow: 0px 0px 9px 0px rgba(191,191,191,1);
    box-shadow: 0px 0px 9px 0px rgba(191,191,191,1);
}
.slick-prev {
    left: 10px;
    z-index: 999;
}

.slick-next {
    right: 35px;
    z-index: 999;
}

    .slick-prev:before, .slick-next:before {
        font-size: 45px;
    }

.slick-dots li button:before {
    font-size: 15px;
}
.slick-dots { bottom: -36px; }
.gear-img {
    height: 100px;
    width: 100%;
}
p {
    text-align: justify;
    font-size: 3.4vh;
}
.deg {
    background-image: url(../img/fondo.png);
    height: 200px;
    margin-top: 6rem;
    background-size: cover;
}
.deg p {
    font-size: 4.8vh;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
    .deg p {
        font-size: 3vh;
        color: white;
    }
    .carousel img {
        width: 100%;
    }
}
.card img{
    width: 100%;
    height: 275px;
}
.modulares,.hid-mov {
    background: #F9F9F9;
}
.card {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

