@{
    Layout = "_Layout";
}
<div class="mx-5 mt-5">
    <h1 class="text-center font-weight-bold">Mangueras y accesorios</h1>
    <div class="d-md-flex mt-4 justify-content-center">
        <div class="card col mx-3 col-md-5 p-0">
            <img src="@Url.Content("~/img/c2.jpg")" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title text-center font-weight-bold">Mangueras y accesorios</h5>
                <p class="card-text">
                        
                </p>
            </div>
        </div>
    </div>
</div>