@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="@Url.Content("~/css/valvulas.css")"/>
<div class="mx-5 mt-5">
    <h1 class="text-center font-weight-bold">Válvulas direccionales y de control</h1>
    <div class="d-md-flex mt-4 justify-content-center">
        <div class="card col mx-3 col-md-5 p-0">
            <div class="d-flex justify-content-center modulares">
                <img src="@Url.Content("~/img/foto4.jpg")" width="50%" class="mx-auto">
            </div>
            <div class="card-body">
                <h5 class="card-title text-center font-weight-bold">Válvulas modulares</h5>
                <p class="card-text">

                </p>
            </div>
        </div>
        <div class="card col mx-3 col-md-5 p-0">
            <div class="d-flex justify-content-center">
                <img src="@Url.Content("~/img/foto5.jpg")" width="100%" class="mx-auto">
            </div>
            <div class="card-body">
                <h5 class="card-title text-center font-weight-bold">Válvulas hidráulicas movil</h5>
                <p class="card-text">

                </p>
            </div>
        </div>
    </div>
</div>